<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlu.upms.business.mapper.ProjectSelectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dlu.upms.business.entity.ProjectSelect">
        <id column="id" property="id" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="student_id" property="studentId" />
        <result column="project_id" property="projectId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        update_time,
        del_flag,
        id, student_id, project_id
    </sql>
    <select id="selectCountList" resultType="com.dlu.upms.business.dto.Charts">

        SELECT
            p.project_name AS name,
            ifnull(ps.cou, 0) AS value1
        FROM
            (
                SELECT
                    bps.project_id AS projectId,
                    COUNT(*) AS cou
                FROM
                    t_bus_project_select bps
                GROUP BY
                    bps.project_id
            ) ps
                RIGHT JOIN t_bus_project p ON p.id = ps.projectId

    </select>
    <select id="selectScoreCountList" resultType="com.dlu.upms.business.dto.Charts">
        SELECT
        p.project_name AS projectName,
        ps.cou1 AS cou1,
        ps.cou2 AS cou2,
        ps.cou3 AS cou3,
        ps.cou4 AS cou4,
        ps.cou5 AS cou5
        FROM
        (
        SELECT
        bps.project_id AS projectId,
        COUNT(case when  bps.score > 0 and bps.score  <![CDATA[ <=  ]]> 60 then 1 end) AS cou1,
        COUNT(case when score > 60 and score  <![CDATA[ <=  ]]> 70 then 1 end) AS cou2,
        COUNT(case when  score > 70 and score  <![CDATA[ <=  ]]> 80 then 1 end) AS cou3,
        COUNT(case when  score > 80 and score  <![CDATA[ <=  ]]> 90 then 1 end) AS cou4,
        COUNT(case when  score > 90 and score  <![CDATA[ <=  ]]> 100 then 1 end) AS cou5
        FROM
        t_bus_project_select bps
        GROUP BY
        bps.project_id
        ) ps
        RIGHT JOIN t_bus_project p ON p.id = ps.projectId
    </select>

</mapper>
